.title-with-icon {
  display: flex;
  text-align: center;
  font-size: 2em;
  color: primary;
}

.cart-icon {
  vertical-align: bottom;
  font-size: 3em;
  top: 0;
}

.colored-text {
  color: #55babf;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 2em;
}

.black-text {
  color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
}

.recipes-header {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
  padding: 5%;
  background-color: #55babf;
}

.recipes-area {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 5%;
  background-color: #c9eeee;;
}

.accordion-item {
  text-align: center;
}


/* 
  Color 4: 200, 236, 238
  Color 6: Light-Red: 231, 193, 193 
*/
