/*
.top-container {
  position: static;
}
*/


.heart-icon {
  position: relative;
  top: -1.3em;
  left: 2.2em;
  z-index: 10;
}


.colored-text {
  color: #55babf;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 2em;
}

.black-text {
  color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
}


.title-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  color: primary;
}

.cart-icon {
  vertical-align: bottom;
  font-size: 3em;
  top: 0;
  z-index: 10;
}
